page-login {
  ion-img {
      min-width: 300px !important;
      min-height: 100px;
      background: transparent;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }
  h2 small {
    display: block;
  }
}
