<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Encuesta</strong> Perature
    </ion-title>
    <ion-buttons end>
      <!-- <button ion-button tappable (click)="presentNotifications($event)">
                <ion-icon name="notifications"></ion-icon>
            </button> -->
      <button ion-button tappable (click)="openChat();">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="" *ngIf="!listaCuestionarios">error</div>
  <ion-item>
    <ion-label>Encuesta</ion-label>
    <ion-select [(ngModel)]="cuestionario" (ionChange)="setIdCuestionario(cuestionario);">
      <ion-option *ngFor="let option of listaCuestionarios ">{{option}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-grid *ngIf="listaResultadoCuestionario.length > 0">
    <ion-row>
      <ion-col>
        <ion-row class="other head">AREA</ion-row>
        <ion-row class="other">Entrega de valor</ion-row>
        <ion-row class="other">Fácil de desplegar</ion-row>
        <ion-row class="other">Diversión</ion-row>
        <ion-row class="other">Calidad de código</ion-row>
        <ion-row class="other">Aprendizaje</ion-row>
        <ion-row class="other">Mision</ion-row>
        <ion-row class="other">Peones o jugadores</ion-row>
        <ion-row class="other">Velocidad</ion-row>
        <ion-row class="other">Proceso adecuado</ion-row>
        <ion-row class="other">Soporte</ion-row>
        <ion-row class="other">Trabajo en equipo</ion-row>
        <ion-row class="other">Total General Celula</ion-row>
      </ion-col>
      <ion-col *ngFor="let celulas of listaResultadoCuestionario">
        <ion-row class="head">{{ celulas.nombreCelula }}</ion-row>
        <ion-row *ngFor="let item of celulas.respuestasCelula">
          <div class="circulo"
               [ngClass]="{
                 'red': item.promedioActual < 3,
                 'yellow': item.promedioActual >= 3 && item.promedioActual < 5,
                 'green': item.promedioActual >= 5}"></div>
          <div class="arrow"
               [ngClass]="{
                'arrow-red': item.promedioAnterior < item.promedioActual,
                'arrow-yellow': item.promedioAnterior === item.promedioActual,
                'arrow-green': item.promedioAnterior > item.promedioActual}"></div>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="head">Total</ion-row>
        <ion-row *ngFor="let prmedioArea of PromediosGeneralesArea">
          <div class="circulo"
               [ngClass]="{
                        'red': prmedioArea < 3,
                        'yellow': prmedioArea >= 3 && prmedioArea < 5,
                        'green': prmedioArea >= 5}"></div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
