<!--
  Generated template for the ResultadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resultado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="" *ngIf="!listaCuestionarios">error</div>
  <div *ngIf="listaCuestionarios">
  <ion-item>
      <ion-label>Encuesta</ion-label>
      <ion-select [(ngModel)]="cuestionario" (ionChange)="setIdCuestionario(cuestionario);">
        <ion-option *ngFor="let option of listaCuestionarios ">{{option}}</ion-option>
      </ion-select>
    </ion-item>

  <ion-item>
    <ion-scroll scrollX="true" style="width:100vw; height:800px;">
      <ion-row nowrap>
        <div>
          <table class="inline">
            <thead>
            <th>Área</th>
            </thead>
            <tbody>
            <tr><td>Entrega de valor</td></tr>
            <tr><td>Fácil de desplegar</td></tr>
            <tr><td>Diversión</td></tr>
            <tr><td>Calidad de código</td></tr>
            <tr><td>Aprendizaje</td></tr>
            <tr><td>Mision</td></tr>
            <tr><td>Peones o jugadores</td></tr>
            <tr><td>Velocidad</td></tr>
            <tr><td>Proceso adecuado</td></tr>
            <tr><td>Soporte</td></tr>
            <tr><td>Trabajo en equipo</td></tr>
            <tr><td>Total General Celula</td></tr>
            </tbody>
          </table>
          <div *ngIf="listaResultadoCuestionario" class="inline">
          <table class="inline" *ngFor="let celulas of listaResultadoCuestionario">
            <thead>
            <th>{{ celulas }}</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of celulas"><td>{{item}}</td></tr>
            <!--<tr><td>sddf</td></tr>-->
            </tbody>
          </table>
          </div>
        </div>
      </ion-row>
    </ion-scroll>
  </ion-item>
  </div>
</ion-content>

<style>
  .inline {
    display: inline;
    overflow-x: scroll;
  }
</style>
