<ion-header>
	<ion-navbar primary>
		<ion-buttons start>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Formulario</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="cuestionario">
		<ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" *ngIf="!preview">
			<ion-wizard-step *ngFor="let step of cuestionario.jsonPreguntas;index as i">
				<ion-grid>
					<ion-row responsive-sm>
						<ion-col width-50>
							<ion-row>
								<ion-col col-12>
									<ion-label>{{i + 1}}.- {{step.DescripcionPregunta}}</ion-label>
									{{step.observacionPregunta}}
								</ion-col>
							</ion-row>
							<ion-item>
								<ion-label color="primary" stacked>Valorización</ion-label>
								<ion-range pin="true" min="1" max="5" step="1" snaps="true" color="primary" [(ngModel)]="step.valor">
								</ion-range>
							</ion-item>
							<ion-item>
								<ion-label color="primary" stacked>Comentario</ion-label>
								<ion-textarea rows="5" placeholder="Ingresa un comentario" [(ngModel)]="step.Comentario" required></ion-textarea>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-wizard-step>
		</ion-simple-wizard>
		<div padding *ngIf="preview">
			<ion-title>Resumen del Formulario</ion-title>
			<ion-card *ngFor="let step of cuestionario.jsonPreguntas;index as i">
				<ion-card-header>
					{{i + 1}}.- {{step.DescripcionPregunta}}
				</ion-card-header>
				<ion-card-content>
					<ion-item>
						<ion-label color="primary" stacked>Valorización</ion-label>
						<ion-range disabled min="1" max="5" step="1" snaps="true" color="primary" [(ngModel)]="step.valor">
						</ion-range>
					</ion-item>
					<ion-item>
						{{step.Comentario}}
					</ion-item>
				</ion-card-content>
			</ion-card>
			<ion-row right>
				<ion-col text-left>
					<button ion-button color="light">Cancelar</button>
				</ion-col>
				<ion-col text-right>
					<button ion-button color="primary" (click)="onGuardar();">Guardar</button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>