<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Encuesta</strong> Perature
		</ion-title>
		<ion-buttons end>
			<!-- <button ion-button tappable (click)="presentNotifications($event)">
				<ion-icon name="notifications"></ion-icon>
			</button> -->
			<button ion-button tappable (click)="openChat();">
				<ion-icon name="chatbubbles"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div *ngIf="cuestionario">
		<ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" *ngIf="!preview">
			<ion-wizard-step *ngFor="let step of cuestionario.jsonPreguntas;index as i">
				<ion-list>
					<ion-item>
						<ion-label stacked color="primary">
							<ion-icon name="book" item-start class="text-primary"></ion-icon>
							{{i + 1}}.- {{step.DescripcionPregunta}}
						</ion-label>
						<ion-textarea ion-text rows="5" [innerHTML]="step.observacionPregunta"></ion-textarea>
					</ion-item>

					<ion-list no-lines class="puntos">
						<div class="item-inner">
							<ion-row>
								<ion-label stacked>
									<ion-icon name="star" item-start class="text-primary"></ion-icon>
									Puntuación
                  <ion-badge>{{step.valor}}</ion-badge>
								</ion-label>
								<div class="puntuacion">
									<ion-col width-20 detail-none class="option" radio-group [(ngModel)]="step.valor"
                           *ngFor="let item of [1,2,3,4,5]">
										<ion-label>
											<div *ngIf="item === 1">
												<img class="circle red" src="assets/sad.png">
											</div>
											<div *ngIf="item === 3">
												<img class="circle yellow" src="assets/poker.png">
											</div>
											<div *ngIf="item === 5">
												<img class="circle green" src="assets/happy.png">
											</div>
										</ion-label>
										<ion-radio [value]="item" [checked]="step.valor === item"></ion-radio>
									</ion-col>
									</div>
							</ion-row>
						</div>
					</ion-list>

					<ion-item>
						<ion-label stacked color="primary">
							<ion-icon name="chatbubbles" item-start class="text-primary"></ion-icon>
							Comentario
						</ion-label>
						<ion-textarea rows="5" ion-text placeholder="Ingresa un comentario" [(ngModel)]="step.Comentario" required></ion-textarea>
					</ion-item>
				</ion-list>
			</ion-wizard-step>
		</ion-simple-wizard>
		<div padding *ngIf="preview">
			<ion-list class="preview">
				<ion-item text-wrap>
					<ion-title>Resumen del Formulario</ion-title>
					<p padding>Debes revisar bien tus respuestas antes de enviar tu formulario</p>
				</ion-item>
				<div *ngFor="let step of cuestionario.jsonPreguntas;index as i">
					<ion-item class="pregunta">
						<p ion-text color="label label-md" color="primary">
							<ion-icon name="book" item-start class="text-primary"></ion-icon>
							{{i + 1}}.- {{step.DescripcionPregunta}}
						</p>
						<p ion-text color="label label-md" color="primary">
							<ion-icon name="star" item-start class="text-primary"></ion-icon>
							Puntuación
							<ion-badge>{{step.valor}}</ion-badge>
						</p>
						<p ion-text color="label label-md" color="primary">
							<ion-icon name="chatbubbles" item-start class="text-primary"></ion-icon>
							Comentario
						</p>
						<p text-wrap [innerHTML]="step.Comentario ? step.Comentario : 'Sin Comentarios'"></p>
					</ion-item>
				</div>
				<ion-item class="botones">
					<ion-row right>
						<ion-col text-left>
							<button ion-button color="light" (click)="onCancelar();">Cancelar</button>
						</ion-col>
						<ion-col text-right>
							<button ion-button color="primary" (click)="onGuardar();">Guardar</button>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>
